@import url('https://fonts.googleapis.com/css?family=Fira+Mono:700');

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #222222;
	font-family: 'Fira Mono', monospace;
	font-weight: 700;
	color: rgb(247, 234, 57);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}
